/********* root *************/
:root {
  --header-height: 4.5rem;

  /* colors */
  --base-color: ;
  --base-color-second: ;
  --background-wrapper-color: #131a52;
  --background-section-color: #ffffff;
  --background-section-black-color: #141527;
  --text-color: #000000;
  --text-color-light: #ffffff;
  --hover-color: #000000;
}

/********* base *************/

/* transição suave */
html {
  scroll-behavior: smooth;
}
/* /transição suave */

body,
#front {
  max-width: 1446px;
}

h2 {
  font: normal 700 18px 'jost', sans-serif;
}

h4 {
  font: normal 700 20px 'jost', sans-serif;
}

p {
  font: normal 400 16px 'jost', sans-serif;
}

.icon {
  width: auto !important;
  height: auto !important;
}
/************************ Header *****************************/

#front {
  background: url(images-intellicam/image-principal.png);
  background-size: contain;
  background-repeat: no-repeat;

  height: 712px;
  left: 0px;
  top: 0px;
}
#header {
  display: flex;
  width: 90%;
  margin: 0 auto;

  align-items: center;
}
.logo-image {
  margin-top: 1rem;

  width: 33px;
  height: 32px;
}

h3.logo-text {
  margin-top: 1rem;
  margin-right: 3rem;

  font: normal 900 21px 'Jost', impact;
  letter-spacing: 0.035rem;
}

#header nav {
  margin-top: 3rem;

  font: normal 500 14px 'jost', sans-serif;
}

#header nav ul {
  display: flex;
}

#header nav ul li {
  margin-right: 1rem;
}
#header nav ul li a {
  color: var(--text-color);
}

#header .toggle {
  visibility: hidden;
  opacity: 0;
}

#header .buttons-header {
  margin-top: 1rem;

  display: flex;

  float: right;
  margin-left: 70%;
  position: absolute;
}

a.buttons {
  font: normal 600 14px 'jost', sans-serif;

  margin-left: 1rem;

  padding: 0.5rem 1.25rem;

  border: 1px solid #000000;

  background-color: none;
  color: var(--text-color);

  transition: 300ms;
}

a.buttons:hover {
  background-color: var(--hover-color);

  color: var(--text-color-light);
}

/************************ front *****************************/
#front h1 {
  font: normal 900 50px 'jost', sans-serif;

  margin: 5rem 5% 3rem;
  width: 45%;
}

#front .button-front {
  margin-left: 0;

  margin: 0 5%;

  color: var(--text-color-light);
  background-color: var(--hover-color);
}

#front h4.h4-main {
  font: normal 700 20px 'jost', sans-serif;
  color: var(--text-color-light);

  width: 50%;
  max-width: 744.8px;

  margin: 8rem 16%;

  padding: 1rem 3rem;
  background-color: var(--hover-color);

  z-index: 1;
  position: absolute;
}
/************************ grid-section-1 *****************************/
#wrapper {
  background-color: var(--background-wrapper-color);

  width: 100%;
  height: 713vh;
  margin-top: 15rem;
}
.section {
  margin-left: 8rem;
  padding: 0 0 6% 6%;

  width: 85%;
  max-width: 1278.15px;
  position: absolute;
  top: 37rem;

  background-color: var(--background-section-color);
}

.section .barra {
  margin-top: 6rem;

  width: 27rem;
  height: 4px;
  background-color: var(--hover-color);
}

.section h2 {
  margin: 2rem 0 3rem;

  font-size: 28px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid {
  width: 15rem;
}
.grid img {
  width: 15rem;
  height: 7rem;
}

.grid h2 {
  font-size: 18px;
}

.grid h2 {
  margin: 0.75rem 0;
}

.grid p {
  width: 80%;
}

.loose {
  padding-top: 40rem;

  display: flex;

  color: var(--text-color-light);

  align-items: center;
}

.loose p {
  width: 45%;

  margin: 0 5rem 0 16%;

  font: normal 400 24px 'jost', sans-serif;
}

.loose h4 {
  background-color: inherit;
}

.loose .grid-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.loose .grid-numbers div {
  margin: 1rem 3rem 3rem 0;
}

.loose .grid-numbers div h1 {
  margin: 0 !important ;

  font-size: 55px;
  line-height: 100% !important;
}

.section-black {
  top: 105rem;

  margin-left: 0px;
  width: 84%;

  background-color: var(--background-section-black-color);
  color: var(--text-color-light);
}
.section-black .barra {
  background-color: var(--background-section-color);
}
.section-black .sub-title {
  display: flex;

  margin-bottom: 1.5rem;
  align-items: center;
}
.section-black .sub-title h5 {
  margin-right: 5rem;
}

.section-black .grid {
  background-color: var(--background-section-color);

  color: var(--text-color);
  padding-bottom: 0.5rem;
}

.section-black .grid h2 {
  margin: 0.75rem 1rem;
}

.section-black .grid p {
  margin: 0 1rem;
}

.section-3 {
  top: 145rem;
}

.section-4 {
  top: 185rem;
}

.section-4 .grid {
  background-color: inherit;
  color: var(--text-color-light);
}

.section-5 {
  top: 225rem;
  padding-left: 32rem;

  width: 52.9%;
}

.section-5 .image-stars {
  width: 30rem;
  position: absolute;
  top: -4rem;
  left: -4rem;
}

.section-5 h3 {
  width: 30%;

  margin-bottom: 1rem;
}

.section-5 p {
  width: 30%;

  margin-bottom: 0.75rem;
}

.section-6 {
  top: 255rem;
  padding-bottom: 3rem;

  display: flex;
}

.section-6 .barra {
  margin-top: 1rem;
}
s .section-6 h3,
p {
  width: 55%;
}

.section-6 h3 {
  margin-bottom: 0.5rem;
}

.section-6 p {
  opacity: 0.5;

  margin-bottom: 5rem;
}

.section-6 a {
  margin-bottom: 0;

  background-color: var(--background-section-color);
  border: 1px solid #ffffff;
}

.section-6 .image-script {
  width: 30rem;

  margin: 3rem 3rem 0 0;
}

.section-7 {
  top: 285rem;
}

.section-7 .grid {
  width: 14rem;
}

.section-finale {
  top: 330rem;
  position: absolute;
  width: 100%;
  height: 20;

  color: var(--text-color-light);
}
.section-finale img {
  position: absolute;
  width: 100%;
}

.section-finale h2 {
  text-align: center;
  margin-top: 2rem;

  color-interpolation-filters: var(--background-section-color);
}

.section-finale p {
  width: 25%;

  margin: 2rem auto;
}

.section-finale div {
  width: 100%;

  text-align: center;
}
.section-finale a {
  background-color: var(--background-section-color);
  color: var(--text-color);
}

#footer {
  display: flex;
}

#footer .info {
  padding: 2rem 0 3rem 2rem;
  width: 35%;
}

#footer .info .logo {
  display: flex;

  margin-bottom: 2rem;
}

#footer .info p {
  margin-bottom: 2rem;
  width: 100%;
}

#footer .lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  margin-left: 7rem;
}

#footer .lists .grid {
  width: 100%;
}
#footer .lists ul {
  padding-right: 0.75rem;
}

#footer .lists ul h2 {
  margin-bottom: 2rem;
}

#footer .lists ul li {
  margin-bottom: 1rem;
}

#footer .lists ul li a {
  color: var(--text-color);
}

.directs {
  background-color: var(--background-wrapper-color);
  width: 100%;
  text-align: center;
  color: var(--text-color-light);
}

/* Back to top */
.back-to-top {
  background: var(--hover-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 3rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

@media (max-height: 700px) {
  #wrapper {
    height: 741vh;
  }

  .section-finale img {
    height: 15.8rem;
  }
}

@media (max-width: 450px) {
  body {
    max-width: 500px;
    width: 450px;
  }

  #header .buttons-header {
    position: absolute;
    top: 4rem;
    margin-left: 0;
  }

  #header .buttons-header a {
    margin-left: 0;
    margin-right: 1rem;
  }

  #front h1 {
    font-size: 20px;
    width: auto;

    margin-top: 60px;
    margin-bottom: 0;
  }

  #front a.button-front {
    visibility: hidden;
    position: absolute;
  }

  h4.h4-main {
    width: 70% !important;
    margin: 1rem 2rem !important;
  }

  h4 {
    font-size: 10px;
  }

  p {
    font-size: 14px;
  }

  #wrapper {
    margin-top: 0;
    height: 889vh;
  }

  #wrapper .section {
    max-width: 420px;
    margin-left: 2.5rem;
  }

  #wrapper .section .barra {
    width: 75%;
    margin-top: 3rem;
  }
  #wrapper .section .cards {
    grid-template-columns: none;
  }
  #wrapper .section .cards .grid {
    margin-bottom: 0.5rem;
  }

  #wrapper .section-1 {
    top: 30rem;
  }

  #wrapper .loose {
    padding-top: 90rem;
    flex-direction: column;
  }

  #wrapper .loose p {
    width: 90%;
    margin: 0 auto 3rem;
  }

  #wrapper .loose .grid-numbers h1 {
    font-size: 40px;
  }
  #wrapper .loose .grid-numbers h4 {
    font-size: 20px;
  }

  #wrapper .section-2 {
    top: 130rem;
  }

  #wrapper .section-3 {
    top: 208rem;
  }

  #wrapper .section-4 {
    top: 268rem;
  }

  #wrapper .section-5 {
    top: 333rem;

    padding-left: 0;
    width: 90%;
  }
  #wrapper .section-5 .image-stars {
    top: -2rem;
    left: 50%;
    width: 12rem;
  }
  #wrapper .section-5 h2 {
    margin: 2rem 0 2rem 1rem;
  }

  #wrapper .section-5 h3 {
    width: 50%;
    margin-left: 1rem;
  }

  #wrapper .section-5 p {
    width: 90%;
    margin-left: 1rem;
  }

  #wrapper .section-5 a {
    margin-left: 1rem;
  }

  #wrapper .section-6 {
    top: 360rem;

    display: initial;
  }
  #wrapper .section-6 a {
    margin-left: 0;
  }
  #wrapper .section-6 .image-script {
    width: 20rem;

    top: 1rem;
  }

  #wrapper .section-7 {
    top: 406rem;
  }
  #wrapper .section-7 .cards .grid {
    margin-bottom: 1rem;
  }

  #wrapper .section-7 .cards .grid h2 {
    margin: 0.25rem 0 0;
  }

  #wrapper .section-finale {
    top: 475rem;
    width: 450px;
  }

  #wrapper .section-finale img {
    height: 14rem;
  }

  #wrapper .section-finale p {
    width: 70%;
  }
  #wrapper .section-finale a {
    margin-left: 0;
  }

  #footer {
    flex-direction: column;
  }

  #footer .info {
    width: 90%;
  }

  #footer .info p {
    font-size: 10px;
  }

  #footer .lists {
    margin-left: 0;
    grid-template-columns: 1fr 1fr;
  }

  #footer .lists .grid {
    margin-bottom: 1.5rem;
  }
  #footer .lists ul {
    padding-right: 0;
  }

  #header nav {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    margin-top: 0;
  }

  nav ul li {
    text-align: center;
    margin-bottom: 2rem;
  }

  nav ul li a {
    transition: color 0.2s;
    position: relative;

    font-size: 40px;
  }

  nav ul li a:hover,
  nav ul li a.active {
    color: var(--background-section-color);
  }

  nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--background-section-color);

    position: absolute;
    left: 0;
    bottom: -1.5rem;

    transition: width 0.2s;
  }

  #header nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--background-section-color);

    position: absolute;
    left: 0;
    bottom: -1.5rem;

    transition: width 0.2s;
  }

  #header nav ul li a:hover::after,
  #header nav ul li a.active::after {
    width: 100%;
  }

  nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
    width: 1;
  }

  nav .menu ul {
    display: flex;
    flex-direction: column;
  }

  /* Mostrar menu */
  nav.show .menu {
    opacity: 1;
    visibility: visible;

    background: var(--background-section-color);

    height: 110%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    display: grid;
    place-content: center;
  }

  nav.show .menu ul {
    display: grid;
  }

  nav.show ul.grid {
    gap: 4rem;
  }

  /* toggle menu */
  .toggle {
    color: var(--hover-color);
    font-size: 1.5rem;
    cursor: pointer;

    visibility: visible !important;
    opacity: 1 !important;
  }

  nav .icon-close {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: -1.5rem;
    right: 1.5rem;
    z-index: 50;

    transition: 0.2s;
  }

  nav.show div.icon-close {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
    right: 3rem;
    position: fixed;
  }
}
